@model IEnumerable<NotificationManagementUI.Models.Notifications>

@{
    ViewData["Title"] = "GetAllNotifications";
}

<h1>GetAllNotifications</h1>
<ul class="navbar-nav flew-grow-0" style="margin-left:800px">
    <li class="nav-item navbar-right">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserLogin">Logout</a>
    </li>
</ul>

<p>
    <a asp-action="AddNotification">Add New Notification</a>&nbsp;&nbsp;
    @*<a asp-action="GetUser" asp-controller="User">View User Details</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateNotification", new { id = item.NotificationId }) |
                   
                    @Html.ActionLink("Delete", "DeleteNotification", new { id = item.NotificationId })
                </td>
            </tr>


          
        }

        <tr>
            @Html.ActionLink("View Profile", "GetUser", "User", new { id = TempData["id"] }) |
            @Html.ActionLink("Edit Profile", "UpdateUser", "User", new { id = TempData["id"] }) |
        </tr>
    </tbody>
    </table>
